{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="{% static './css/addtrip.css' %}">
        <script src="{% static './js/addtrip.js' %}"></script>
    </head>
     <body>
        {% include 'parts/navbar.html' %}
        <section class="content">
            <div class="outline">
                <div class="form" >
                    <h3>Add New Trip </h3>
                    <form onsubmit="return validate();" method="POST">
                        {% csrf_token %}
                        {{ form1 }}
                        <button type="submit">Add</button>
                        <button><a href="{% url 'adminHome' %}">Back</a></button><br>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>