{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="{% static './css/signuppage.css' %}">
        <script src="{% static './js/signuppage.js' %}"></script>
        <script>
            function loadDoc(){
                document.getElementById('firsttab').style.backgroundColor='#0a09088a'
                document.getElementById('sectab').style.backgroundColor='#FFEBCD'
                document.getElementById('us').innerText = 'Username'
            }

            function loadDoc1(){
                document.getElementById('sectab').style.backgroundColor='#0a09088a'
                document.getElementById('firsttab').style.backgroundColor='#FFEBCD'
                document.getElementById('us').innerText = 'Admin name'
            }
/*
            function loadDoc() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
              document.getElementById("ajax").innerHTML = this.responseText;
              }
            xhttp.open("GET", "adminSignUp.html", true);
            xhttp.send();
            }
            function loadDoc1() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
              document.getElementById("ajax").innerHTML = this.responseText;
              }
            xhttp.open("GET", "customerSignUp.html", true);
            xhttp.send();
          }
*/
        </script>
    </head>
     <body>

 <section class="nav clear">
            <div class="container">
                <a href="{% url 'Home' %}" ><img src="{% static './image/train.png'%}" alt="logo" width="80" height="45"></a>
                <ul>
                    <li> <a style="color: #FFEBCD;" href="">Home</a></li>
                    <li> <a href="#ourSer">Services</a></li>
                    <li> <a href="#about">About</a></li>
                    <li> <a href="#contact">Contact us</a></li>
                </ul>
            </div> <!-- end of container -->
        </section><!-- end of nav -->

      <section class="content">
            <div id="ajax">
            <div class="outline">
                <div >
                    <h2 id="firsttab" onclick="loadDoc()"><a href="{% url 'signUp' %}"> Customer</a></h2>
                    <h2 id="sectab" onclick="loadDoc1()"><a href="{% url 'signUp' %}"> Admin</a></h2>
                </div>
                <div class="form" >
                    <form id="form" action="" onsubmit = "return validate();" method="POST">
                        {% csrf_token %}

                        <label for="un" id="us">Username</label>
                        <input id="un" type="text" name="username" placeholder="Enter your username"><br>

                        <label for="E-Mail">E-Mail</label>
                        <input id="E-Mail" type="email" name="email" placeholder="Enter your E-mail"><br>

                        <label for="myInput">Password</label>
                        <input id="myInput" type="password" name="password1" placeholder="Enter your Password"><br>
                        <label for="myInput">Confirm password</label>
                        <input id="myInput" type="password" name="password2" placeholder="Confirm your Password"><br>

                        <button type="submit" >Submit</button>
                        <a href="{% url 'Home' %}" type="button">Back</a><br>
                    </form>
                </div>
            </div>
            </div>
        </section>

    </body>

</html>