{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="{% static './css/updateadmin.css' %}">
        <script src="{% static './js/updateadmin.js' %}"></script>
    </head>
     <body>
        {% include 'parts/navbar.html' %}
      <section class="content">
            <div class="outline">
                <div class="form" >
                    <h3>Update Your Profile Info </h3>
                    <form onsubmit="return validate();" method="POST">
                        {% csrf_token %}
                        {{ adminForm }}
                        <button type="submit">Update</button>
                        <button><a href="{% url 'viewAdmin' %}">Back</a></button><br>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>