{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="StyleSheet" type="text/css" href="{% static './css/updatetip.css' %}">
        <script src="{% static './js/updatetrip.js' %}"></script>
    </head>
     <body>
        {% include 'parts/navbar.html' %}
      <section class="content">
            <div class="outline">
                <div class="form" >
                    <h3>Update Trip </h3>
                    <form onsubmit="return validate();" method="POST">
                          {% csrf_token %}
                        {{ formTrip}}
                        <button type="submit">Add</button>
                         <button><a href="{% url 'viewTrip' %}">Back</a></button><br>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>